<?xml version="1.0"?>
<launch>
    <param name ="/use_sim_time" value="ture"/>
    <node pkg="locate_calibrate" type="localization_and_calibrate" name="localization_and_calibrate" output="screen">
        <rosparam command="delete" param="topic" />
        <param name="log/filename_prefix" value="$(find locate_calibrate)/bag/real_time" />
        <rosparam file="$(find locate_calibrate)/cfg/uwb_imu_odom.yaml" command="load" />
    </node>
</launch>
